In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report
from sklearn.preprocessing import StandardScaler

In [5]:
default = pd.read_csv('default_data.csv')

In [6]:
default

,id,time,orig_time,first_time,mat_time,balance_time,LTV_time,interest_rate_time,rate_time,hpi_time,...,investor_orig_time,balance_orig_time,FICO_orig_time,LTV_orig_time,Interest_Rate_orig_time,state_orig_time,hpi_orig_time,default_time,payoff_time,status_time
0,4,25,-2,25,119,61031.10,33.911009,10.500,5.90,226.29,...,0,63750.0,587,81.8,10.5,KY,97.99,0,0,0
1,4,26,-2,25,119,60882.42,34.007232,10.500,5.90,225.10,...,0,63750.0,587,81.8,10.5,KY,97.99,0,0,0
2,4,27,-2,25,119,60729.80,34.335349,10.500,5.90,222.39,...,0,63750.0,587,81.8,10.5,KY,97.99,0,0,0
3,4,28,-2,25,119,60576.14,34.672545,10.875,5.90,219.67,...,0,63750.0,587,81.8,10.5,KY,97.99,0,0,0
4,4,29,-2,25,119,60424.39,34.951639,10.875,5.90,217.37,...,0,63750.0,587,81.8,10.5,KY,97.99,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62173,49972,52,25,52,145,180673.24,103.306966,7.500,5.15,161.13,...,0,196000.0,708,79.8,7.5,AL,226.29,0,0,0
62174,49972,53,25,52,145,179944.95,95.736862,7.500,5.15,173.17,...,0,196000.0,708,79.8,7.5,AL,226.29,0,0,0
62175,49972,54,25,52,145,179451.81,91.867079,7.500,5.15,179.97,...,0,196000.0,708,79.8,7.5,AL,226.29,0,0,0
62176,49972,55,25,52,145,178952.48,91.560581,7.500,5.15,180.07,...,0,196000.0,708,79.8,7.5,AL,226.29,0,0,0
62177,49972,56,25,52,145,178952.48,90.874242,7.500,5.15,181.43,...,0,196000.0,708,79.8,7.5,AL,226.29,1,0,1

In [7]:
default.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62178 entries, 0 to 62177
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       62178 non-null  int64
 1   time                     62178 non-null  int64
 2   orig_time                62178 non-null  int64
 3   first_time               62178 non-null  int64
 4   mat_time                 62178 non-null  int64
 5   balance_time             62178 non-null  float64
 6   LTV_time                 62153 non-null  float64
 7   interest_rate_time       62178 non-null  float64
 8   rate_time                62178 non-null  float64
 9   hpi_time                 62178 non-null  float64
 10  gdp_time                 62178 non-null  float64
 11  uer_time                 62178 non-null  float64
 12  REtype_CO_orig_time      62178 non-null  int64
 13  REtype_PU_orig_time      62178 non-null  int64
 14  REtype_SF_orig_time      62178 non-null  int64
 15  investor_orig_time       62178 non-null  int64
 16  balance_orig_time        62178 non-null  float64
 17  FICO_orig_time           62178 non-null  int64
 18  LTV_orig_time            62178 non-null  float64
 19  Interest_Rate_orig_time  62178 non-null  float64
 20  state_orig_time          61828 non-null  object
 21  hpi_orig_time            62178 non-null  float64
 22  default_time             62178 non-null  int64
 23  payoff_time              62178 non-null  int64
 24  status_time              62178 non-null  int64
dtypes: float64(11), int64(13), object(1)
memory usage: 11.9+ MB

In [11]:
default=default.dropna()

In [12]:
default

,id,time,orig_time,first_time,mat_time,balance_time,LTV_time,interest_rate_time,rate_time,hpi_time,...,investor_orig_time,balance_orig_time,FICO_orig_time,LTV_orig_time,Interest_Rate_orig_time,state_orig_time,hpi_orig_time,default_time,payoff_time,status_time
0,4,25,-2,25,119,61031.10,33.911009,10.500,5.90,226.29,...,0,63750.0,587,81.8,10.5,KY,97.99,0,0,0
1,4,26,-2,25,119,60882.42,34.007232,10.500,5.90,225.10,...,0,63750.0,587,81.8,10.5,KY,97.99,0,0,0
2,4,27,-2,25,119,60729.80,34.335349,10.500,5.90,222.39,...,0,63750.0,587,81.8,10.5,KY,97.99,0,0,0
3,4,28,-2,25,119,60576.14,34.672545,10.875,5.90,219.67,...,0,63750.0,587,81.8,10.5,KY,97.99,0,0,0
4,4,29,-2,25,119,60424.39,34.951639,10.875,5.90,217.37,...,0,63750.0,587,81.8,10.5,KY,97.99,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62173,49972,52,25,52,145,180673.24,103.306966,7.500,5.15,161.13,...,0,196000.0,708,79.8,7.5,AL,226.29,0,0,0
62174,49972,53,25,52,145,179944.95,95.736862,7.500,5.15,173.17,...,0,196000.0,708,79.8,7.5,AL,226.29,0,0,0
62175,49972,54,25,52,145,179451.81,91.867079,7.500,5.15,179.97,...,0,196000.0,708,79.8,7.5,AL,226.29,0,0,0
62176,49972,55,25,52,145,178952.48,91.560581,7.500,5.15,180.07,...,0,196000.0,708,79.8,7.5,AL,226.29,0,0,0
62177,49972,56,25,52,145,178952.48,90.874242,7.500,5.15,181.43,...,0,196000.0,708,79.8,7.5,AL,226.29,1,0,1

In [13]:
default.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61803 entries, 0 to 62177
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       61803 non-null  int64
 1   time                     61803 non-null  int64
 2   orig_time                61803 non-null  int64
 3   first_time               61803 non-null  int64
 4   mat_time                 61803 non-null  int64
 5   balance_time             61803 non-null  float64
 6   LTV_time                 61803 non-null  float64
 7   interest_rate_time       61803 non-null  float64
 8   rate_time                61803 non-null  float64
 9   hpi_time                 61803 non-null  float64
 10  gdp_time                 61803 non-null  float64
 11  uer_time                 61803 non-null  float64
 12  REtype_CO_orig_time      61803 non-null  int64
 13  REtype_PU_orig_time      61803 non-null  int64
 14  REtype_SF_orig_time      61803 non-null  int64
 15  investor_orig_time       61803 non-null  int64
 16  balance_orig_time        61803 non-null  float64
 17  FICO_orig_time           61803 non-null  int64
 18  LTV_orig_time            61803 non-null  float64
 19  Interest_Rate_orig_time  61803 non-null  float64
 20  state_orig_time          61803 non-null  object
 21  hpi_orig_time            61803 non-null  float64
 22  default_time             61803 non-null  int64
 23  payoff_time              61803 non-null  int64
 24  status_time              61803 non-null  int64
dtypes: float64(11), int64(13), object(1)
memory usage: 12.3+ MB

In [17]:
X = default [["balance_time","mat_time", "gdp_time","uer_time","interest_rate_time","hpi_time","FICO_orig_time"]]
Y= default ["default_time"]

In [19]:
X

,balance_time,mat_time,gdp_time,uer_time,interest_rate_time,hpi_time,FICO_orig_time
0,61031.10,119,2.899137,4.7,10.500,226.29,587
1,60882.42,119,2.151365,4.7,10.500,225.10,587
2,60729.80,119,2.361722,4.4,10.500,222.39,587
3,60576.14,119,1.229172,4.6,10.875,219.67,587
4,60424.39,119,1.692969,4.5,10.875,217.37,587
...,...,...,...,...,...,...,...
62173,180673.24,145,1.081049,8.0,7.500,161.13,708
62174,179944.95,145,0.892996,7.6,7.500,173.17,708
62175,179451.81,145,1.507359,7.3,7.500,179.97,708
62176,178952.48,145,2.422275,7.2,7.500,180.07,708
62177,178952.48,145,1.717053,6.6,7.500,181.43,708

In [20]:
Y

0        0
1        0
2        0
3        0
4        0
        ..
62173    0
62174    0
62175    0
62176    0
62177    1
Name: default_time, Length: 61803, dtype: int64

In [21]:
x_train,x_test,y_train,y_test= train_test_split(X,Y,train_size=0.8,random_state=6)

In [22]:
# standardize the features (imp for svm):
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

# make a support vector machine classifier model:
svm_classifier = SVC(kernel = 'linear', C =1.0 , random_state = 45)

# train the classifier on the training set:
svm_classifier.fit(x_train,y_train)

# make predictions on the testing set:
y_pred = svm_classifier.predict(x_test)

# Evaluate model performance:
accuracy = accuracy_score(y_test,y_pred)
print(f'Accuracy: {accuracy}')

# You can also print other metrics through classification report:
print(classification_report(y_test,y_pred))

Accuracy: 0.9738694280398026
              precision    recall  f1-score   support

           0       0.97      1.00      0.99     12038
           1       0.00      0.00      0.00       323

    accuracy                           0.97     12361
   macro avg       0.49      0.50      0.49     12361
weighted avg       0.95      0.97      0.96     12361

C:\Users\HP\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1497: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Users\HP\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1497: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Users\HP\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1497: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))